:host {
  display: block;
  height: 100%;
}

.app-container {
  height: 100%;
}

.app-sidenav {
  width: 240px;
}

.content {
  padding: 16px;
}

.active-link {
  background-color: var(--mat-sys-surface-variant);
}
